<strong>Olá {{ deliveryman }}</strong>
<p>Uma encomenda foi cancelada, confira os detalhes abaixo: </p>
<p>
    <strong>Encomenda: </strong> {{ order }} <br />
    <strong>Destinatário: </strong> {{ recipient }} <br />
    <strong>Endereço: </strong> {{ complete_address }} <br />
</p>
