<strong>Olá {{ deliveryman }}</strong>
<p>Uma nova encomenda foi agendada para você, confira os detalhes abaixo: </p>
<p>
    <strong>Destinatário: </strong> {{ recipient }} <br />
    <strong>Endereço: </strong> {{ complete_address }} <br />
</p>
